html {
  font-family: Arial;
}

header {
  display: flex;
}

header div:first-child {
  background-color: #483d8b;
  height: 150px;
  width: 30%;
}

header div:last-child {
  background-color: #483d8b;
  color: #fff;
  height: 150px;
  width: 70%;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main div {
  background-color: #afeeee;
  width: 150px;
  height: 100px;
  margin: 3px;
  border: 1px solid;
}

footer {
  background-color: #483d8b;
  color: #fff;
  padding: 10px;
}

h5 {
  text-align: center;
}
